.metricas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 5rem auto;
    width: 90%;
}

.metricas__item {
    display: flex;
    flex-direction: column;
}

.metricas__titulo {
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 4.5rem;
    color: var(--vermelho);
}

.metricas__texto {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--azul-escuro);
}

.metricas__paragrafo {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--cinza-claro);
}